thead tr th{
    background: #dc3545;
    color: white;
}

tbody tr{
    cursor: pointer;
}

@media screen and (max-width: 320px) {

    body{
        font-size: 0.8rem;
    }

    .container{
        padding-right: 0px;
        padding-left: 0px;
    }
}
