table{
    width: 100%;
}

img{
    height: 30%;
}

.card-body{
    padding: 0;
}

.info{
    width: 30%;
}

.table-striped{
    margin-bottom: 0;
    border-bottom: none;
}

tr{
    border-bottom: solid 1px black;
}

#div-button-piste{
    width: 100%;
}
#to-piste-results{
    width: 100%;
}
